.footer-wrap {
  bottom: 10px;
}

#name,
#code {
  position: fixed;
  left: 10px;
  color: gray;
}

#name {
  top: 20px;
}

#code {
  top: 50px;
}

#price {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: gray;
}
