.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: black;
  position: relative;
}

.circle::after {
  content: ' ';
  position: absolute;
  display: block;
  background-color: #fff;
  height: 10px;
  margin-top: -5px;
  top: 50%;
  left: 5px;
  right: 5px;
  z-index: 9;
}

.circle::before {
  content: ' ';
  position: absolute;
  display: block;
  background-color: #fff;
  width: 10px;
  margin-left: -5px;
  left: 50%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
}

div button {
  margin: 5px;
}

.btn-circle.btn-lg {
  border-radius: 50%;
  padding: 5px;
  font-size: 10px;
}
