.wrap {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  left: 20px;
  bottom: 20px;
  transform: rotate(45deg);
}

.quart {
  position: absolute;
  height: 50%;
  width: 50%;
  background: gray;
  transition: all 0.2s;
}

.quart:first-child {
  top: 0;
  left: 0;
}

.quart:nth-child(2) {
  top: 0;
  left: 50%;
}

.quart:nth-child(3) {
  top: 50%;
  left: 0;
}

.quart:nth-child(4) {
  top: 50%;
  left: 50%;
}

.center-before {
  height: 60%;
  width: 60%;
  padding: 20%;
  position: absolute;
  top: 20%;
  left: 20%;
  background: green;
  border-radius: 50%;
}

.quart:hover {
  background: black;
  transform: scale(1.5);
}

.center-before:hover {
  background: lightgreen;
  transform: scale(1);
}

.center-after {
  height: 60%;
  width: 60%;
  padding: 20%;
  position: absolute;
  top: 20%;
  left: 20%;
  background: red;
  border-radius: 50%;
}

.center-after:hover {
  background: lightcoral;
  transform: scale(1);
}

.switch-to-cube {
  position: relative;
  float: left;
}

.switch-to-sphere {
  position: relative;
  top: 5px;
}

.switches-container {
  position: absolute;
  top: 0%;
  left: 8%;
}
