/* model carousel */
.prev,
.next {
  position: absolute;
  top: 45%;
  border-right: 10px solid;
  border-bottom: 10px solid;
  height: 50px;
  width: 50px;
  z-index: 2;
  transition: all 0.2s;
}

.prev {
  left: 1%;
  transform: rotate(130deg);
}

.next {
  right: 1%;
  transform: rotate(-45deg);
}

.prev,
.next:hoover {
  background: dimgray;
}

/* screen loader */
#loading-screen {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  transition: 1s opacity;
}

#loading-screen.fade-out {
  opacity: 0;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ba55d3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff00ff;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* footer */
#footer {
  position: absolute;
  text-align: right;
  right: 10px;
  z-index: 2;
  bottom: 5px;
  width: 100%;
}

/* modal */
.m-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  transition: opacity 0.3s ease;
}

.m-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.m-container {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.m-header h3 {
  margin-top: 0;
  color: #42b983;
}

.m-body {
  margin: 20px 0;
}

.m-default-button {
  float: right;
}

.m-enter .m-container,
.m-leave-active .m-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.map-instaces {
  padding: 50px;
}

.close {
  color: #db0f0f;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 9999;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/* info */
#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
  font-family: monospace;
  font-size: 13px;
  text-align: center;
}
